# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity-Experimental.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\RTX_2070\Documents\Github\Unity-Experimental\.idea\.idea.Unity-Experimental\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
